<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  We are a clique of friends from the tech industry who have diverse photography backgrounds. We always get together to talk about photography. Each of use brought up our own problems and issues and we all tried to help each other out whether that be sharing gear or giving tips on how to take better pictures. This not only saved us money but also made us better photographers. One day we decided to build a online platform where all photographers can share gear and knowledge. This is how the idea of CLYQE was born and the rest as they say is history.
</p>

<div class="carousel slide" id="carousel-477211">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-477211">
					</li>
					<li data-slide-to="1" data-target="#carousel-477211">
					</li>
					<li data-slide-to="2" data-target="#carousel-477211">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/abstract/1" />
						<div class="carousel-caption">
							<h4>
								Rent out gear
							</h4>
							<p>
								“I have expensive gear that I don’t use all the time” - Mark
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/abstract/2" />
						<div class="carousel-caption">
							<h4>
								Rent gear
							</h4>
							<p>
								“I like to rent gears when I'm doing a shoot or traveling. For example, when I went to shoot some wildlife, I would rent a long zoom lens. That'd give me plenty of space between me and them. After all, nobody wants to get eaten by a bear” - Victor
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/abstract/3" />
						<div class="carousel-caption">
							<h4>
								Community
							</h4>
							<p>
								“Since I'm a newbie but i want to take better pictures and if that means i need better gear but I'm not ready to invest $2k for lens/gear- someone please educate me. Also would love to try before buying.” - Tiffany
							</p>
						</div>
					</div>
				</div> <a data-slide="prev" href="#carousel-477211" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-477211" class="right carousel-control">›</a>
			</div>
		</div>
	</div>
</div>