<% provide(:title, 'About Us') %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>
				About Us
			</h1>
			<%= image_tag("CLYQE_logo_vertical_medium.png", alt: "CLYQE") %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
			</div>
			<div class="hero-unit">
				<p>
					We are a clique of friends from the tech industry who have diverse photography backgrounds. We always get together to talk about photography. Each of use brought up our own problems and issues and we all tried to help each other out whether that be sharing gear or giving tips on how to take better pictures. This not only saved us money but also made us better photographers. One day we decided to build a online platform where all photographers can share gear and knowledge. This is how the idea of <%= image_tag("CLYQE_logo_000.png") %> was born and the rest as they say is history.
				</p>
			</div>
		</div>
	</div>
</div>