<% provide(:title, 'About Us') %>

<div id="about-area-home" class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
			</div>
			<div class="hero-unit">
				<h2>About ClyQe</h2>
				<p>
					We are three friends with different photography experiences, but we understand the need to create a home for photographers to share their gear, experiences, and knowledge. Our vision is to design ClyQe such that it’s more than just a place to rent gear but also a safe community for photographers to share technique and favorite local places.
				</p>
				<hr width="75%">
				<h2 align="center">The Team</h2>

				<div class="row">
					<div class="col-md-2">
						<h4>Mark Iglesias</h4>
					</div>
				</div>
				<div class="row add-padding-bottom">
					<div class="col-md-2">
							<%= image_tag("profile/mark.png", :size => "100x100") %>
					</div>
					<div class="col-md-10">							
						<p>
							Mark's story in Photography started when he spontaneously bought a DSLR while he was preparing for a trip. That day changed his life and wallet forever. The changes also caused him to acquire more expensive lenses and accessories. His wife was not pleased with the amount of time and money spent on this hobby, prompting him to sell most of his gear. He still misses his old gear, but is glad that he has friends like Victor and Tiffanie whom he can borrow from. He has been an avid photographer for over 10 years. Mark works in tech industry and has M.S. in Software Engineering, and M.B.A. from San Jose State University.
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2">
						<h4>Victor Sutan</h4>
					</div>
				</div>
				<div class="row add-padding-bottom">
					<div class="col-md-2">
						<%= image_tag("profile/victor.png", :size => "100x100") %>
					</div>
					<div class="col-md-10">							
						<p>
							Victor is usually out shooting, when he is not looking at binary numbers on his day job. Victor has photography experience of over 8 years. He recently completed his cross country National Park adventure in 2 months. When he is not pushing his car to the limit, he usually volunteer for a local non-profit organization as the event photographer. Victor has M.S. in Computer Engineering from Columbia University.
						</p>
					</div>
				</div>				

				<div class="row">
					<div class="col-md-2">
						<h4>Tiffanie Kong</h4>
					</div>
				</div>
				<div class="row add-padding-bottom">
					<div class="col-md-2">
						<%= image_tag("profile/tiff.png", :size => "100x100") %>
					</div>
					<div class="col-md-10">							
						<p>
							Tiffanie's passion for Photography started when she experimented with her family's first digital camera. Travelling to beautiful places inspired her to become a better photographer.  Bitten by the travel bug, she would never leave home without a camera.
							A few years later, she met Mark and Victor who helped blossom her photography skills.The three began sharing camera gear and Photography tips. Why not share their ideas and tips with others? Then, ClyQe	 was formed.
							Tiffanie lives in the heart of Silicon Valley and is working in the high tech industry. She holds a B.S. in Computer Science from UC Davis and is pursuing her MBA in Marketing. 
						</p>
					</div>
				</div>
				<p><%= link_to "Back to the homepage", home_path %></p>
			</div>
		</div>
	</div>
</div>
