<% provide(:title, 'Blog') %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>
				Blog
			</h1>
			<%= image_tag("CLYQE_logo_vertical_medium.png", alt: "CLYQE") %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
			</div>
			<div class="hero-unit">
				<h3>
					We are on our way!
				</h3>
				<p>
					We are looking for early adopters to sign up and try out our service. Do you want to make extra money from your gear when you are not using them? Are you looking for gear to rent for that special assignment, project or trip? You are the perfect candidate to try out our service. Sign up and try it out
				</p>
			</div>
		</div>

		<div class="row-fluid">
      		<div class="span12">
        		<div class="page-header">
        		</div>
        	<div class="hero-unit">
        		<h3>
        			<%= image_tag("CLYQE_logo_000.png") %> revolution has begun!
          		</h3>
          		<p>
          			Have you ever needed a lens but have been unable to afford it? Do you find it inconvenient to pack and carry your gear when traveling? Are you interested in loaning out your gear to other photographers? <%= image_tag("CLYQE_logo_000.png") %> is a community marketplace for photographers to list, discover, and share photography gear and knowledge with other photographers. We are working on making this dream come true. Sign up today and we will notify you as soon as it's ready!
          		</p>
          	</div>
		</div>
	</div>
</div>