<% provide(:title, 'Blog') %>
<h1>The official Clyqe blog</h1>
<p>
  Have you ever needed a lens but have been unable to afford it?
  Do you find it inconvenient to pack and carry your gear when travelling?
  Are you interested in loaning out your gear to other photographers?
  Clyqe is a community marketplace for photographers to list, discover, and share photography equipment and knowledge with other photographers.
</p>