<% provide(:title, 'Blog') %>
<h1>The Official CLYQE Blog</h1>
<p>
  Have you ever needed a lens but have been unable to afford it?
  Do you find it inconvenient to pack and carry your gear when travelling?
  Are you interested in loaning out your gear to other photographers?
  CLYQE is a community marketplace for photographers to list, discover, and share photography gear and knowledge with other photographers. We are working on making this dream come true. Sign up today and we will notify you as soon as it's ready!
</p>