<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>, this is confirmation that you cancelled your account with ClyQe</h1>
    <p>
      We are sad to see you go. Please come back and try our service again<br/>
    </p>
    <p>Have a great day!</p>    
  </body>
</html>