<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <%= link_to "Post gear", postgear_path, class: "btn btn-default btn-primary" %>
  </aside>
  <!-- delete above and change span from 4 to 8 -->
  <div class="span8">
      <h3>Gear List</h3>
      <%= render 'shared/posts' %>
    </div>
</div>