
<% provide(:title, "Search Results") %>
<div class="jumbotron">
	<h1>Search Results</h1>

	<%= render @search.gears %>

	<%= link_to "Search gear again", new_search_path, class: "btn btn-default btn-success" %>
</div>