$baseFontSize: 17px;
$baseFontfamily: 'Crete Round','Helvetica Neue',Helvetica,Arial,sans-serif !default;
$baseLineHeight: 20px;
$altFontFamily: 'Open Sans Condensed', Georgia, 'Times New Roman', Times, serif !default;

@import "bootstrap";

/* mixins, variables, etc. for debug box*/

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */
body {
  padding-left: 0px;
  padding-right: 0px;
}


html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  float: center;
  padding-top: 5px;
  color: #999;
  height: 300px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100px;
  padding: 10px;
  margin-bottom: 15px;
  color: black;
  font-size: 17px;
  font-family: "ff-clan-web-pro-wide", sans-serif;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* Override anything manually, like rounded buttons */
.btn {
  padding: 10px 8px;
  color: #fff;
  font-size: 17px;
  font-family: "ff-clan-web-pro-wide", sans-serif;
}

#error_explanation {
  color: #f00;
  ul {
  list-style: none;
  margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.title {
  display: block;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* header */ 
#logo {
  float: left;
  margin-right: 10px;
  margin-top: 10-px;
  margin-bottom: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 50px;
  width: 130px;
  position: relative;
  z-index: 5;
}

#logo:hover img {
  color: #555;
  text-decoration: none;
}

#logo img {
  max-width: 100%;
  height: auto;
}

.hero-unit {
  /*background-image: url(image_path('CLYQE_logo_venn.png'));*/
  background-color: rgba(0, 0, 0, 0);
}

.page-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 1045px;
}


/*.brand {*/
#header .navbar{
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  line-height: 1;
  position: fixed;
}

.navbar-fixed-top{
  position: fixed;
}


.header-item li > a {
    text-decoration: none;
    text-shadow:none !important;
    color: white !important;
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 500;
  }

#header .navbar-inner { 
  background-color: black;
  opacity: 0.8;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  height: 80px;
  border-bottom-width: 0px;
  z-index: 1000;
}

.header-item .dropdown-menu {
  background-color: #4679bd;
}

/* Background */
.content {
  color: #333;
  font-size: 1.2em;
  line-height: 2.0;
}

.content > header {
  background-image:url(image_path('CLYQE_home_bg.jpg'));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1px;
  padding-top: 150px;
  padding-right: 40px;
  overflow: hidden;
  position: relative;
  background-color:  #3b96cf;
  color: #fff;
  padding-bottom: 24px;
  width: 100%;
  z-index: 10;
}

.content > header .card {
  margin-bottom: 60px; 
}

.content .row {
  width: 960px;
  max-width: 100%;
  min-height: 500px;
  margin: 0 auto;
}

.content > header .copy_container {
  background: rgba(0, 0, 0, 0.65);
  width: 68%;
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
}

.row .offset-by-five {
  font-family: 'Crete Round';
}

.content > header .copy_container h1 {
  font-size: 3.40em;
  line-height: 65px;
}

.content > header .copy_container h4 {
  border-bottom: 3px solid #ccc;
  padding-bottom: 18px;
  color: #ee5f5b;
  font-size: 1.5em;
  font-family: 'Crete Round';
}

.content > header .copy_container h5 {
  line-height: 1.5;
}

.content > header .container p {
  font-size: .9em;
}

.content > header .copy_container .btn {
  padding: 5px 8px;
  vertical-align: top;
}

.content > header .copy_container .alert {
  padding: 0px 8px;
}

#about-area-home {
  background: #F0F1F2;
  margin-bottom: 10px;
  margin-top: 50px;
}

#content-area-home {
  /*padding: 0px 20px 44px 80px;*/
  margin-bottom: 10px;
  float: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#content-area-home h3 {
  text-align: center;
  font-weight: 400;
  color: #e92429;
  letter-spacing: 0.07em;
}

#content-area-home h2 {
  float: left;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}

#content-area-home p {
  text-align: justify;
  font-size: 17px;
  color: gray;
  padding-top: 50px;
}

#content-area-home .span4-gray {
  background: #F0F1F2;
  margin-left: 0px;
  padding: 10px 10px 10px 10px;
}

#content-area-home .span4-gray-2 {
  margin-left: 0px;
  background: #E3EFFF;
  padding: 10px 10px 10px 10px;
}

#content-area-home .thumbnail {
  border: none;
  background-color: transparent !important;
}

.color-me-gray {
  background-color: #ededed;
}

.color-me-dark-gray {
  background-color: $gray-dark;
}

@media all and (min-width: 767px)
{
  #content-area-home .span4 {
    width: 33.3%;
  }
}

.subscribe-bar {
  width: 400px;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group-btn, .input-group .form-control {
  display: table-cell;
}

.input-group .form-control {
  margin-bottom: 0;
}

.add-padding {
  padding-top: 30px;
}

#how-it-works-content {
  padding: 38px 20px 44px 22px;
  margin-bottom: 38px;
  background: #F0F1F2;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.item-page {
  overflow: hidden;
}

.wrapper .item-page .row {
  color: #0E0E0E;
  font-family: Cambria, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
}

.infographic {
  text-align: left;
}

.infographic .span6 {
  width: 45%;
  float: left;
}

.row img {
  border: 0 none;
  height: auto;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}

.row span12 {
  width: auto;
}

.infographic p {
  color: #0E0E0E;
  font-family: open sans;
  font-size: 13px;
  margin: 10px 10px;
  text-transform: uppercase;
}

#visitor_email {
  min-width: 300px;
  margin-bottom: 0px;
  padding: 0px 5px;
  border-radius: 4px;
}

.add-padding-bottom {
  padding-bottom: 40px;
}

