<footer class="footer">
  <small>
    Bringing photographers together to share equipment and knowledge
  </small>
  <nav>
    <ul>
      <li><%= link_to "Blog", blog_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>